<html>
    <head>
        <title>Dragon*Con 2018 Hotel Status</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <style>
            @import url(https://fonts.googleapis.com/css?family=Roboto:300);
            @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

            .op {
             margin-top: 7px;   
            }
            
            body {
                font-family: 'Roboto', sans-serif;
            }

            .available {
                background-color: #33CC33;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1 class="text-center">Dragon*Con 2018 Hotel Status</h1>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="list-group">
                                {% for hotel, result_tuple in hotel_results.items() %}
                                <div class="list-group-item {{'available' if result_tuple[0] else '' }}">
                                <h4 class="list-group-item-heading op">
                                    <a href="#{{ hotel }}">{{ hotel }}</a>
                                      <span class="pull-right">{{ 'AVAILABLE' if result_tuple[0] else 'UNAVAILABLE' }}</span>
                                </h4>
                                <p>{{ result_tuple[1] }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 column">
                    <table>
                        <tbody>
                            {% for hotel, result_dict in hotel_meta.items() %}
                            <tr>
                                <td><a name="{{ hotel }}" href="{{ result_dict['url'] }}">{{ hotel }}</a></td>
                                <td><img src="/staging/{{ result_dict['screenshot'] }}" /></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p style="margin-top: 1em;"><i>Last check was performed at <strong>{{ last_modified }}</strong>.</i></p>
            </div>
        </div>
    </body>
</html>
